body {
  background-color: #edeff2;
  font-family: 'Open Sans', sans-serif;
  color: #6a859c;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #676770;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #676770;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 7px;
  text-transform: uppercase;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #676770;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}

.button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 12px 30px;
  border-radius: 4px;
  background-color: #69b9ff;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #2e9dff;
}

.button.w--current {
  background-color: #2e80b6;
}

.button.full-width {
  display: block;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.button.tab {
  margin-right: 8px;
  margin-left: 8px;
  background-color: #92a0ad;
}

.button.tab:hover {
  background-color: #2e80b6;
}

.button.tab.w--current {
  background-color: #2e80b6;
}

.products {
  position: relative;
  margin-top: 13px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #676770;
  font-size: 12px;
}

.products:hover {
  color: #fff;
}

.products.w--current {
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.products.w--open {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.navigation-bar {
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 9px none #fdd700;
  background-color: #101010;
}

.navigation-menu {
  position: static;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: inline-block;
  overflow: visible;
  padding-left: 111px;
  float: none;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-align: right;
}

.brand-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #69b9ff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.brand-link {
  padding-top: 16px;
  padding-bottom: 16px;
}

.brand-link.w--current:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.section {
  position: relative;
  padding: 80px 10px;
  background-color: #fff;
  text-align: center;
}

.section.accent {
  background-color: #192024;
}

.white-box {
  padding: 15px;
  border: 1px solid #dcebf7;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.white-box.transparent {
  border-style: none;
  background-color: transparent;
}

.hero-section {
  padding-top: 242px;
  padding-bottom: 242px;
}

.hero-section.centered {
  padding-top: 51px;
  padding-bottom: 46px;
  border-bottom: 8px solid #fdd700;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/Header-banner.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/Header-banner.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  text-align: center;
}

.hero-heading {
  position: static;
  display: inline-block;
  overflow: visible;
  width: 100%;
  margin-bottom: 10px;
  padding-right: 0px;
  padding-left: 0px;
  float: none;
  clear: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.hero-subheading {
  margin-bottom: 40px;
  color: #2e9dff;
  font-size: 25px;
  line-height: 25px;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.hollow-button {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, border 300ms ease, color 300ms ease;
  color: #fff;
  line-height: 21px;
  font-weight: 300;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.hollow-button:hover {
  border-color: #2e9dff;
  color: #2e9dff;
}

.hollow-button.all-caps {
  text-transform: uppercase;
}

.section-heading {
  margin-top: 0px;
  margin-bottom: 16px;
}

.section-heading.centered {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: grey;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.section-heading.centered.white {
  color: #fff;
}

.section-subheading.center {
  color: #8e8e9c;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.section-subheading.center.off-white {
  padding-bottom: 0px;
  color: #e8e8e8;
}

.section-title-group {
  margin-bottom: 48px;
}

.form-field {
  height: 45px;
  margin-bottom: 17px;
  border: 0px solid #000;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(64, 64, 71, .3);
}

.form-field.text-area {
  height: 110px;
}

.footer {
  padding-top: 23px;
  padding-bottom: 23px;
  background-image: -webkit-linear-gradient(270deg, #333, #333);
  background-image: linear-gradient(180deg, #333, #333);
  color: #101010;
}

.footer.center {
  border-top: 1px solid #dbdbdb;
  background-color: #383838;
  text-align: center;
}

.footer-text {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #9e9e9e;
  font-size: 12px;
  text-align: right;
}

.grid-image {
  display: block;
  width: 35%;
  margin: 20px auto;
  padding: 20px;
  border: 10px solid #fff;
  border-radius: 50%;
  background-color: #69b9ff;
  box-shadow: 0 0 0 1px #2e9dff;
}

.info-icon {
  float: left;
}

.footer-link {
  display: block;
  margin-bottom: 6px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d5d5e0;
  color: #668cad;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(0, 140, 255, .84);
}

.footer-link.with-icon {
  margin-left: 30px;
}

.tab-menu {
  margin-bottom: 40px;
  text-align: center;
}

.tabs-wrapper {
  text-align: center;
}

.fullwidth-image {
  width: 100%;
  margin-bottom: 20px;
}

.white-text {
  margin-bottom: 20px;
  color: #fff;
}

.form {
  margin-top: 40px;
}

.spc {
  top: 0px;
  right: 0px;
  bottom: 0px;
  text-align: right;
}

.container {
  position: static;
  left: 0px;
  bottom: 0px;
  display: block;
}

.classic {
  background-color: #101010;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #fff;
  font-size: 12px;
}

.classic:hover {
  background-color: #fdd700;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #000;
}

.dropdown-list.w--open {
  background-color: #101010;
}

.pro {
  background-color: #101010;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}

.pro:hover {
  background-color: #fdd700;
  color: #000;
}

.premium {
  background-color: #101010;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}

.premium:hover {
  background-color: #fdd700;
  color: #000;
}

.how-it-works {
  position: relative;
  margin-top: 13px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #676770;
  font-size: 12px;
}

.how-it-works:hover {
  color: #fff;
}

.how-it-works.w--current {
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.how-it-works.w--open {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.support {
  position: relative;
  margin-top: 13px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #676770;
  font-size: 12px;
}

.support:hover {
  color: #fff;
}

.support.w--current {
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.support.w--open {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.about {
  position: relative;
  margin-top: 13px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #676770;
  font-size: 12px;
}

.about:hover {
  color: #fff;
}

.about.w--current {
  position: relative;
  display: inline-block;
  font-size: 14px;
}

.about.w--open {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.value-added-service {
  background-color: #101010;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}

.value-added-service:hover {
  background-color: #fdd700;
  color: #000;
}

.classic1 {
  background-color: #101010;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}

.classic1:hover {
  background-color: #fdd700;
  color: #000;
}

.number-link {
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: inline;
  padding: 20px 0px 16px;
  float: right;
  clear: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.number-link.w--current {
  position: static;
  display: block;
  overflow: visible;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
}

.fitment-centre {
  background-color: #101010;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #fff;
  font-size: 12px;
}

.fitment-centre:hover {
  background-color: #fdd700;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #000;
}

.faqs {
  background-color: #101010;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #fff;
  font-size: 12px;
}

.faqs:hover {
  background-color: #fdd700;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #000;
}

.contact-us {
  background-color: #101010;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  color: #fff;
  font-size: 12px;
}

.contact-us:hover {
  background-color: #fdd700;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #000;
}

.footer-links {
  position: relative;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 8px;
  padding-left: 8px;
  clear: none;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 10px;
  text-align: left;
}

.container-2 {
  position: relative;
}

.heading {
  text-align: left;
}

.spc-copy {
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.paragraph {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: grey;
  line-height: 20px;
  font-weight: 300;
  text-align: left;
}

.paragraph-2 {
  margin-top: 24px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #f66f1d;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
}

.pp-link {
  padding-right: 23px;
  padding-left: 23px;
}

.tc-image {
  position: static;
  left: 0px;
  top: 0px;
  bottom: 0px;
  float: none;
  clear: none;
  text-align: left;
}

.paragraph-3 {
  width: 66%;
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  text-align: left;
}

.paragraph-4 {
  width: 60%;
  margin-bottom: 0px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.paragraph-5 {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 11px;
  float: left;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: left;
  text-transform: none;
}

.chev {
  position: static;
  left: 0px;
  top: 0px;
  bottom: 0px;
  float: left;
  clear: right;
  text-align: left;
}

.div-block {
  position: relative;
  display: block;
  overflow: hidden;
  padding-top: 1px;
  padding-bottom: 1px;
  float: none;
  clear: none;
}

.paragraph-6 {
  display: block;
  width: 60%;
  margin-top: 91px;
  margin-bottom: 0px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  text-align: left;
}

.container-3 {
  position: static;
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: block;
  overflow: visible;
}

.div-block-2 {
  display: block;
  width: 80%;
}

.div-block-3 {
  position: static;
  left: 0px;
  top: 0px;
  right: 0px;
  display: block;
  overflow: auto;
  width: 35%;
  padding: 21px 21px 0px;
  float: right;
  clear: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
}

.form-2 {
  text-align: left;
}

.field-label {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.field-label-2 {
  margin-top: 20px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.text-field {
  border-radius: 0px;
  font-size: 12px;
}

.text-field:focus {
  border: 1px solid #fdd700;
}

.text-field-2 {
  border-radius: 0px;
  font-size: 12px;
}

.text-field-2:focus {
  border: 1px solid #fdd700;
}

.submit-button {
  margin-top: 10px;
  background-color: grey;
  font-size: 12px;
}

.submit-button:hover {
  background-image: -webkit-linear-gradient(270deg, #fdd700, #fdd700);
  background-image: linear-gradient(180deg, #fdd700, #fdd700);
  color: #000;
}

.form-heading {
  padding-bottom: 17px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.image-2 {
  text-align: left;
}

.container-4 {
  text-align: left;
}

.text-span {
  color: #fdd700;
  text-shadow: 3px 3px 0 #000;
}

.chase-logo-small {
  display: inline-block;
  float: none;
}

.section-1 {
  position: relative;
  padding: 80px 10px;
  background-color: #101010;
  text-align: center;
}

.section-1.accent {
  background-color: #192024;
}

.paragraph-7 {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: grey;
  line-height: 20px;
  font-weight: 300;
  text-align: center;
}

.text-span-2 {
  font-size: 12px;
}

.html-embed {
  display: none;
}

.html-embed-2 {
  display: none;
}

html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="fade-in-top-page-loads-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}

html.w-mod-js *[data-ix="fade-in-box-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate(100px, 0px);
}

html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-top-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}

html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6000000000000004, 0.6000000000000004);
  -ms-transform: scale(0.6000000000000004, 0.6000000000000004);
  transform: scale(0.6000000000000004, 0.6000000000000004);
}

html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.01, 0.01);
  -ms-transform: scale(0.01, 0.01);
  transform: scale(0.01, 0.01);
}

@media (max-width: 991px) {
  .products {
    margin-top: 0px;
    padding-left: 40px;
    color: hsla(0, 0%, 100%, .52);
  }
  .products.w--current {
    color: #fff;
  }
  .navigation-bar {
    display: block;
    padding-right: 40px;
    padding-left: 38px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .navigation-bar.mobile-logo {
    padding-left: 33px;
    text-align: left;
  }
  .hamburger-button {
    position: static;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    float: right;
    clear: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    text-align: left;
  }
  .hamburger-button.w--open {
    padding: 10px;
    background-color: #fdd700;
  }
  .navigation-menu {
    width: 100vw;
    padding-right: 0px;
    padding-left: 0px;
    background-color: grey;
    text-align: left;
  }
  .brand-link.w--current {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .brand-link.mobile-logo {
    position: static;
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .brand-link.mobile-logo.w--current {
    position: static;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .section {
    padding: 47px 40px;
  }
  .hero-section.centered {
    padding: 37px 40px 43px;
    background-image: -webkit-linear-gradient(270deg, null, null), url('../images/Header-banner.jpg');
    background-image: linear-gradient(180deg, null, null), url('../images/Header-banner.jpg');
    background-position: 0px 0px, 8% 45%;
    background-size: auto, auto;
    background-repeat: repeat, no-repeat;
  }
  .hero-heading {
    display: inline-block;
    width: 53%;
    padding-right: 0px;
    padding-left: 0px;
    text-align: left;
  }
  .section-heading.centered {
    display: block;
    margin-bottom: 0px;
    font-size: 28px;
  }
  .section-title-group {
    margin-bottom: 35px;
  }
  .footer {
    padding-right: 40px;
    padding-left: 40px;
  }
  .grid-image {
    width: 50%;
    padding: 15px;
  }
  .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .pro {
    padding-left: 40px;
  }
  .premium {
    padding-left: 40px;
  }
  .how-it-works {
    padding-left: 40px;
    color: hsla(0, 0%, 100%, .52);
  }
  .how-it-works.w--current {
    color: #fff;
  }
  .support {
    padding-left: 40px;
    color: hsla(0, 0%, 100%, .52);
  }
  .support.w--current {
    color: #fff;
  }
  .about {
    padding-left: 40px;
    color: hsla(0, 0%, 100%, .52);
  }
  .about.w--current {
    color: #fff;
  }
  .value-added-service {
    padding-left: 40px;
  }
  .classic1 {
    padding-left: 40px;
  }
  .number-link {
    display: none;
  }
  .fitment-centre {
    padding-left: 40px;
  }
  .faqs {
    padding-left: 40px;
  }
  .contact-us {
    padding-left: 40px;
  }
  .paragraph-3 {
    padding-top: 25px;
    padding-right: 0px;
  }
  .div-block {
    width: 60%;
  }
  .paragraph-6 {
    width: 100%;
    margin-top: 36px;
  }
  .container-3 {
    display: block;
    text-align: left;
  }
  .div-block-3 {
    width: 43%;
    margin-top: 0px;
  }
  .form-2 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .text-field {
    border-radius: 0px;
  }
  .text-field-2 {
    border-radius: 0px;
  }
  .image {
    display: none;
  }
  .chase-logo-small {
    position: static;
    display: block;
    text-align: left;
  }
  .icon {
    color: #fff;
    text-align: right;
  }
  .text-block {
    display: inline-block;
  }
  .icon-2 {
    position: relative;
    left: 25px;
    top: 0px;
    bottom: 0px;
    display: inline-block;
  }
  .text-block-2 {
    display: inline-block;
  }
  .icon-3 {
    position: relative;
    left: 25px;
    right: 0px;
    display: inline-block;
    margin-left: 0px;
  }
  .section-1 {
    padding: 47px 40px;
  }
}

@media (max-width: 767px) {
  .button.full-width {
    margin-right: auto;
    margin-left: auto;
  }
  .button.tab {
    font-size: 12px;
  }
  .navigation-bar {
    padding-left: 25px;
  }
  .navigation-bar.mobile-logo {
    padding-left: 21px;
  }
  .brand-link.w--current {
    padding-left: 0px;
  }
  .section {
    padding: 33px 25px;
  }
  .white-box {
    margin-bottom: 30px;
  }
  .hero-section.centered {
    padding: 30px 25px 26px;
    background-image: -webkit-linear-gradient(270deg, null, null), url('../images/Header-banner.jpg');
    background-image: linear-gradient(180deg, null, null), url('../images/Header-banner.jpg');
    background-position: 0px 0px, 40% 29%;
    background-size: auto, auto;
  }
  .hero-heading {
    width: 40%;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 26px;
  }
  .hero-subheading {
    font-size: 18px;
  }
  .section-heading.centered {
    font-size: 20px;
    line-height: 26px;
  }
  .form-field.text-area {
    display: block;
  }
  .grid-image {
    width: 20%;
    padding: 20px;
  }
  .spc {
    margin-bottom: 0px;
    text-align: center;
  }
  .spc-copy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    text-align: center;
  }
  .fb-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .pp-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .tc-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .tc-image {
    float: none;
    clear: none;
  }
  .paragraph-3 {
    width: 50%;
    padding-top: 13px;
    line-height: 20px;
  }
  .paragraph-4 {
    padding-top: 26px;
    line-height: 20px;
  }
  .div-block {
    position: static;
    overflow: hidden;
  }
  .paragraph-6 {
    line-height: 20px;
  }
  .div-block-3 {
    width: 54%;
  }
  .text-field {
    border-radius: 0px;
  }
  .text-field-2 {
    border-radius: 0px;
  }
  .text-span {
    text-shadow: none;
  }
  .image-3 {
    width: 150px;
  }
  .section-1 {
    padding: 33px 25px;
  }
}

@media (max-width: 479px) {
  .button {
    margin-bottom: 25px;
  }
  .navigation-bar.mobile-logo {
    padding-right: 25px;
    padding-left: 18px;
  }
  .hamburger-button {
    padding: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .hamburger-button.w--open {
    position: static;
    overflow: visible;
    margin-right: -5px;
    padding: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .navigation-menu {
    position: relative;
    left: 0px;
    top: 0px;
    bottom: 0px;
    display: block;
    overflow: visible;
    margin-top: 0px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .brand-link.mobile-logo {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 0px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .brand-link.mobile-logo.w--current {
    position: relative;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .section {
    width: 100vw;
  }
  .hero-section.centered {
    display: block;
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 39px;
    background-image: -webkit-linear-gradient(270deg, null, null), url('../images/Header-banner.jpg');
    background-image: linear-gradient(180deg, null, null), url('../images/Header-banner.jpg');
    background-position: 0px 0px, 41% 5%;
    background-size: auto, auto;
  }
  .hero-heading {
    display: block;
    width: 90vw;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 16px;
    line-height: 20px;
  }
  .section-subheading.center {
    line-height: 30px;
  }
  .footer {
    width: 100vw;
    padding-right: 0px;
    padding-left: 0px;
  }
  .grid-image {
    width: 35%;
  }
  .container {
    position: static;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: visible;
    clear: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .number-link {
    display: none;
  }
  .footer-links {
    text-decoration: none;
  }
  .spc-copy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
  }
  .paragraph {
    padding-right: 0px;
    padding-left: 0px;
    text-align: left;
  }
  .fb-link {
    text-decoration: none;
  }
  .pp-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-decoration: none;
  }
  .tc-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
  }
  .fb-image {
    margin-left: 0px;
  }
  .paragraph-3 {
    width: 85vw;
    padding-top: 28px;
  }
  .paragraph-4 {
    width: 85vw;
    padding-top: 0px;
  }
  .paragraph-5 {
    display: inline-block;
    color: #fff;
  }
  .div-block {
    display: inline-block;
    width: 80vw;
  }
  .paragraph-6 {
    margin-top: 28px;
  }
  .div-block-2 {
    width: 80vw;
  }
  .div-block-3 {
    width: 100%;
    padding-top: 14px;
    float: none;
    clear: none;
  }
  .text-field {
    display: block;
    border-radius: 0px;
  }
  .text-field-2 {
    border-radius: 0px;
  }
  .submit-button {
    position: static;
    display: inline-block;
    float: none;
    background-color: grey;
  }
  .form-heading {
    position: static;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: visible;
    padding-bottom: 8px;
    float: none;
    color: #fdd700;
  }
  .text-span {
    text-shadow: none;
  }
  .chase-logo-small {
    display: block;
  }
  .icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
  .section-1 {
    width: 100vw;
  }
  .div-block-4 {
    padding-right: 85px;
    padding-left: 85px;
  }
  .paragraph-7 {
    margin-top: 18px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }
}

